.top {
    background-color: #1F2937;
    color: white;
    padding: 0 175px;
}

.section1 {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.leftsection1 {
    display: flex;
    flex-direction: column;
}

.section2 {
    margin-bottom: 50px;
}

.mediasection {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.media {
    color: black;
}

.section3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
}

.section4 {
    margin: 50px 175px;
    padding: 20px 10px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.section4-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color:white;
    height: 40px;
    font-size: 18px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 400px;

}

button {
    width: 100px;
    height: 25px;
    flex: 0 0 auto;
    border-radius: 5px;
    border-style: solid;
    background-color: #3882F6;
    color: white;
}

h1 {
    margin: 0px;
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

p {
    margin: 0px;
    font-size: 18px;
    color: #E5E7EB;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

h4 {
    margin: 0px;
}


